<a href="https://colab.research.google.com/github/Imran1hp/Walmart_sales_prediction/blob/main/Walmart_Sales_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [146]:
#!pip install "numpy<2.2.0" "pandas==2.2.2" --force-reinstall --quiet

In [147]:
#!pip install  seaborn matplotlib plotly scikit-learn opendatasets --upgrade --quiet

In [148]:
!pip install opendatasets --upgrade --quiet

In [149]:
import os
import opendatasets as od
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [150]:

sns.set_style('ticks')
plt.rcParams['font.size'] = 14
plt.rcParams['figure.figsize'] = (10, 6)
plt.rcParams['figure.facecolor'] = '#00000000'

In [151]:
dataset_url = ("https://www.kaggle.com/competitions/walmart-recruiting-store-sales-forecasting/overview")

In [152]:
od.download(dataset_url)

Skipping, found downloaded files in "./walmart-recruiting-store-sales-forecasting" (use force=True to force download)

In [153]:
!ls -lh

total 8.0K
drwxr-xr-x 1 root root 4.0K Oct  9 13:36 sample_data
drwxr-xr-x 2 root root 4.0K Oct 11 05:03 walmart-recruiting-store-sales-forecasting

In [154]:
os.listdir("walmart-recruiting-store-sales-forecasting")

['features.csv.zip',
 'sampleSubmission.csv.zip',
 'train.csv.zip',
 'test.csv',
 'test.csv.zip',
 'features.csv',
 'train.csv',
 'stores.csv',
 'sampleSubmission.csv']

In [155]:
from zipfile import ZipFile
# Helper function to unzip many ".zip" files in a directory

def unzip_files(path):

    # Get list of files in the directory
    files = os.listdir(path)

    for file in files:                                   #For each file in the directory

        if file.endswith(".zip"):                        # if it is a ".zip" file
            file_path = path+"/"+file                    # get location of the file

            with ZipFile(file_path,"r") as zip_file:     #Open the ".zip" file in read mode
                zip_file.extractall(path)                #extract all files in ".zip" in the location

    return

In [156]:
dir_path = "./walmart-recruiting-store-sales-forecasting"

#unzip all ".zip" files
unzip_files(dir_path)

os.listdir("walmart-recruiting-store-sales-forecasting")

['features.csv.zip',
 'sampleSubmission.csv.zip',
 'train.csv.zip',
 'test.csv',
 'test.csv.zip',
 'features.csv',
 'train.csv',
 'stores.csv',
 'sampleSubmission.csv']

In [157]:
train_df = pd.read_csv(dir_path+"/train.csv")
test_df = pd.read_csv(dir_path+"/test.csv")
submission_df = pd.read_csv(dir_path+"/sampleSubmission.csv")
features_df = pd.read_csv(dir_path+"/features.csv")
stores_df = pd.read_csv(dir_path+"/stores.csv")

In [158]:
train_df

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  2010-02-05      24924.50      False
1           1     1  2010-02-12      46039.49       True
2           1     1  2010-02-19      41595.55      False
3           1     1  2010-02-26      19403.54      False
4           1     1  2010-03-05      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  2012-09-28        508.37      False
421566     45    98  2012-10-05        628.10      False
421567     45    98  2012-10-12       1061.02      False
421568     45    98  2012-10-19        760.01      False
421569     45    98  2012-10-26       1076.80      False

[421570 rows x 5 columns]

In [159]:
test_df

        Store  Dept        Date  IsHoliday
0           1     1  2012-11-02      False
1           1     1  2012-11-09      False
2           1     1  2012-11-16      False
3           1     1  2012-11-23       True
4           1     1  2012-11-30      False
...       ...   ...         ...        ...
115059     45    98  2013-06-28      False
115060     45    98  2013-07-05      False
115061     45    98  2013-07-12      False
115062     45    98  2013-07-19      False
115063     45    98  2013-07-26      False

[115064 rows x 4 columns]

In [160]:
features_df

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,2013-06-28,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,2013-07-05,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,2013-07-12,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,2013-07-19,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,2013-07-26,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [161]:
feature_df = features_df.drop(columns=["IsHoliday"])

In [162]:
stores_df.head(5)

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [163]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(1)
memory usage: 13.3+ MB

In [164]:
merged_train_feat_df = pd.merge(train_df,feature_df ,on=["Store","Date"] ,how='left')

merged_df = pd.merge(merged_train_feat_df,stores_df, on='Store', how='left')

In [165]:
merge_test_feat_df = pd.merge(test_df,feature_df,on=["Store",'Date'],how="left")
merged_test_df = pd.merge(merge_test_feat_df,stores_df,on="Store",how="left")

In [166]:
merged_df

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,B,118221
421566,45,98,2012-10-05,628.10,False,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,B,118221
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,B,118221
421568,45,98,2012-10-19,760.01,False,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,B,118221
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,B,118221

In [167]:
merged_test_df

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2012-11-02,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573,A,151315
1,1,1,2012-11-09,False,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573,A,151315
2,1,1,2012-11-16,False,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573,A,151315
3,1,1,2012-11-23,True,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573,A,151315
4,1,1,2012-11-30,False,52.34,3.207,2460.03,NaN,3838.35,150.57,6966.34,223.610984,6.573,A,151315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,98,2013-06-28,False,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,B,118221
115060,45,98,2013-07-05,False,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,B,118221
115061,45,98,2013-07-12,False,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,B,118221
115062,45,98,2013-07-19,False,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,B,118221
115063,45,98,2013-07-26,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,B,118221

In [168]:
merged_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Store,421570.0,22.200546,12.785297,1.000,11.000000,22.00000,33.000000,45.000000
Dept,421570.0,44.260317,30.492054,1.000,18.000000,37.00000,74.000000,99.000000
Weekly_Sales,421570.0,15981.258123,22711.183519,-4988.940,2079.650000,7612.03000,20205.852500,693099.360000
Temperature,421570.0,60.090059,18.447931,-2.060,46.680000,62.09000,74.280000,100.140000
Fuel_Price,421570.0,3.361027,0.458515,2.472,2.933000,3.45200,3.738000,4.468000
MarkDown1,150681.0,7246.420196,8291.221345,0.270,2240.270000,5347.45000,9210.900000,88646.760000
MarkDown2,111248.0,3334.628621,9475.357325,-265.760,41.600000,192.00000,1926.940000,104519.540000
MarkDown3,137091.0,1439.421384,9623.078290,-29.100,5.080000,24.60000,103.990000,141630.610000
MarkDown4,134967.0,3383.168256,6292.384031,0.220,504.220000,1481.31000,3595.040000,67474.850000
MarkDown5,151432.0,4628.975079,5962.887455,135.160,1878.440000,3359.45000,5563.800000,108519.280000
CPI,421570.0,171.201947,39.159276,126.064,132.022667,182.31878,212.416993,227.232807
Unemployment,421570.0,7.960289,1.863296,3.879,6.891000,7.86600,8.572000,14.313000
Size,421570.0,136727.915739,60980.583328,34875.000,93638.000000,140167.00000,202505.000000,219622.000000

In [169]:
merged_test_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Store,115064.0,22.238207,12.809930,1.000000,11.000000,22.000000,33.000000,45.000000
Dept,115064.0,44.339524,30.656410,1.000000,18.000000,37.000000,74.000000,99.000000
Temperature,115064.0,53.941804,18.724153,-7.290000,39.820000,54.470000,67.350000,101.950000
Fuel_Price,115064.0,3.581546,0.239442,2.872000,3.431000,3.606000,3.766000,4.125000
MarkDown1,114915.0,7689.216439,10698.760716,-2781.450000,1966.460000,4842.290000,9439.140000,103184.980000
MarkDown2,86437.0,3734.051729,8323.495014,-35.740000,180.350000,742.590000,2735.670000,71074.170000
MarkDown3,105235.0,2403.088666,13767.939313,-179.260000,15.100000,78.260000,272.580000,149483.310000
MarkDown4,102176.0,3356.219071,7570.501545,0.220000,155.460000,840.940000,3096.920000,65344.640000
MarkDown5,115064.0,3922.681189,19445.150745,-185.170000,1309.300000,2390.430000,4227.270000,771448.100000
CPI,76902.0,176.961347,41.239967,131.236226,138.402033,192.304445,223.244532,228.976456
Unemployment,76902.0,6.868733,1.583427,3.684000,5.771000,6.806000,8.036000,10.199000
Size,115064.0,136497.688921,61106.926438,34875.000000,93638.000000,140167.000000,202505.000000,219622.000000

In [170]:
merged_df.isna().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
Type                 0
Size                 0
dtype: int64

In [171]:
merged_test_df.isna().sum()

Store               0
Dept                0
Date                0
IsHoliday           0
Temperature         0
Fuel_Price          0
MarkDown1         149
MarkDown2       28627
MarkDown3        9829
MarkDown4       12888
MarkDown5           0
CPI             38162
Unemployment    38162
Type                0
Size                0
dtype: int64

In [172]:

merged_df[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']] = merged_df[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']].fillna(0)
merged_test_df[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']] = merged_test_df[['MarkDown1', 'MarkDown2', 'MarkDown3', 'MarkDown4', 'MarkDown5']].fillna(0)

merged_test_df['CPI'] = merged_test_df['CPI'].fillna(merged_df['CPI'].mean())
merged_test_df['Unemployment'] = merged_test_df['Unemployment'].fillna(merged_df['Unemployment'].mean())

In [173]:
merged_df.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
dtype: int64

In [174]:
merged_df.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
dtype: int64

In [175]:
# remove all the columns that has sales and markDown lass than 0
merged_df = merged_df[(merged_df["Weekly_Sales"]>=0) &
                      (merged_df["MarkDown1"]>=0) &
                      (merged_df["MarkDown2"]>=0) &
                      (merged_df["MarkDown3"]>=0) &
                      (merged_df["MarkDown4"]>=0) &
                      (merged_df["MarkDown5"]>=0)]

In [176]:
merged_test_df =merged_test_df[(merged_test_df["MarkDown1"]>=0) &
                      (merged_test_df["MarkDown2"]>=0) &
                      (merged_test_df["MarkDown3"]>=0) &
                      (merged_test_df["MarkDown4"]>=0) &
                      (merged_test_df["MarkDown5"]>=0)]

In [177]:
merged_df =merged_df.copy()
merged_test_df =merged_test_df.copy()

In [178]:
def create_date_features(df):
    df["Date"] = pd.to_datetime(df['Date'])
    df['WeekofYear'] = (df['Date'].dt.isocalendar().week).astype('int')
    df['Month'] = df['Date'].dt.month
    df['Year'] = df['Date'].dt.year
    df['Day'] = df['Date'].dt.day

    return df

In [179]:
create_date_features(merged_df)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size,WeekofYear,Month,Year,Day
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,A,151315,5,2,2010,5
1,1,1,2010-02-12,46039.49,True,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106,A,151315,6,2,2010,12
2,1,1,2010-02-19,41595.55,False,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106,A,151315,7,2,2010,19
3,1,1,2010-02-26,19403.54,False,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106,A,151315,8,2,2010,26
4,1,1,2010-03-05,21827.90,False,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106,A,151315,9,3,2010,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,B,118221,39,9,2012,28
421566,45,98,2012-10-05,628.10,False,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,192.170412,8.667,B,118221,40,10,2012,5
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,192.327265,8.667,B,118221,41,10,2012,12
421568,45,98,2012-10-19,760.01,False,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,192.330854,8.667,B,118221,42,10,2012,19
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,B,118221,43,10,2012,26

In [180]:
create_date_features(merged_test_df)

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size,WeekofYear,Month,Year,Day
0,1,1,2012-11-02,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,2737.42,223.462779,6.573000,A,151315,44,11,2012,2
1,1,1,2012-11-09,False,61.24,3.314,11421.32,3370.89,40.28,4646.79,6154.16,223.481307,6.573000,A,151315,45,11,2012,9
2,1,1,2012-11-16,False,52.92,3.252,9696.28,292.10,103.78,1133.15,6612.69,223.512911,6.573000,A,151315,46,11,2012,16
3,1,1,2012-11-23,True,56.23,3.211,883.59,4.17,74910.32,209.91,303.32,223.561947,6.573000,A,151315,47,11,2012,23
4,1,1,2012-11-30,False,52.34,3.207,2460.03,0.00,3838.35,150.57,6966.34,223.610984,6.573000,A,151315,48,11,2012,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,98,2013-06-28,False,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,171.201947,7.960289,B,118221,26,6,2013,28
115060,45,98,2013-07-05,False,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,171.201947,7.960289,B,118221,27,7,2013,5
115061,45,98,2013-07-12,False,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,171.201947,7.960289,B,118221,28,7,2013,12
115062,45,98,2013-07-19,False,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,171.201947,7.960289,B,118221,29,7,2013,19
115063,45,98,2013-07-26,False,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,171.201947,7.960289,B,118221,30,7,2013,26

In [181]:
def holiday_week (df):
  df["SuperBowl"] = np.where(np.isin(df["WeekofYear"],np.array([5,6])), 1 , 0)
  df["BlackFriday"] =np.where(np.isin(df["WeekofYear"],np.array([47,48])), 1, 0)
  df["Christmas"] = np.where(np.isin(df["WeekofYear"],np.array([49,50,51])), 1, 0)
  return df

In [182]:
holiday_week(merged_df)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,Unemployment,Type,Size,WeekofYear,Month,Year,Day,SuperBowl,BlackFriday,Christmas
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.00,0.00,0.00,...,8.106,A,151315,5,2,2010,5,1,0,0
1,1,1,2010-02-12,46039.49,True,38.51,2.548,0.00,0.00,0.00,...,8.106,A,151315,6,2,2010,12,1,0,0
2,1,1,2010-02-19,41595.55,False,39.93,2.514,0.00,0.00,0.00,...,8.106,A,151315,7,2,2010,19,0,0,0
3,1,1,2010-02-26,19403.54,False,46.63,2.561,0.00,0.00,0.00,...,8.106,A,151315,8,2,2010,26,0,0,0
4,1,1,2010-03-05,21827.90,False,46.50,2.625,0.00,0.00,0.00,...,8.106,A,151315,9,3,2010,5,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,64.88,3.997,4556.61,20.64,1.50,...,8.684,B,118221,39,9,2012,28,0,0,0
421566,45,98,2012-10-05,628.10,False,64.89,3.985,5046.74,0.00,18.82,...,8.667,B,118221,40,10,2012,5,0,0,0
421567,45,98,2012-10-12,1061.02,False,54.47,4.000,1956.28,0.00,7.89,...,8.667,B,118221,41,10,2012,12,0,0,0
421568,45,98,2012-10-19,760.01,False,56.47,3.969,2004.02,0.00,3.18,...,8.667,B,118221,42,10,2012,19,0,0,0
421569,45,98,2012-10-26,1076.80,False,58.85,3.882,4018.91,58.08,100.00,...,8.667,B,118221,43,10,2012,26,0,0,0

In [183]:
holiday_week(merged_test_df)

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,...,Unemployment,Type,Size,WeekofYear,Month,Year,Day,SuperBowl,BlackFriday,Christmas
0,1,1,2012-11-02,False,55.32,3.386,6766.44,5147.70,50.82,3639.90,...,6.573000,A,151315,44,11,2012,2,0,0,0
1,1,1,2012-11-09,False,61.24,3.314,11421.32,3370.89,40.28,4646.79,...,6.573000,A,151315,45,11,2012,9,0,0,0
2,1,1,2012-11-16,False,52.92,3.252,9696.28,292.10,103.78,1133.15,...,6.573000,A,151315,46,11,2012,16,0,0,0
3,1,1,2012-11-23,True,56.23,3.211,883.59,4.17,74910.32,209.91,...,6.573000,A,151315,47,11,2012,23,0,1,0
4,1,1,2012-11-30,False,52.34,3.207,2460.03,0.00,3838.35,150.57,...,6.573000,A,151315,48,11,2012,30,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,98,2013-06-28,False,76.05,3.639,4842.29,975.03,3.00,2449.97,...,7.960289,B,118221,26,6,2013,28,0,0,0
115060,45,98,2013-07-05,False,77.50,3.614,9090.48,2268.58,582.74,5797.47,...,7.960289,B,118221,27,7,2013,5,0,0,0
115061,45,98,2013-07-12,False,79.37,3.614,3789.94,1827.31,85.72,744.84,...,7.960289,B,118221,28,7,2013,12,0,0,0
115062,45,98,2013-07-19,False,82.84,3.737,2961.49,1047.07,204.19,363.00,...,7.960289,B,118221,29,7,2013,19,0,0,0
115063,45,98,2013-07-26,False,76.06,3.804,212.02,851.73,2.06,10.88,...,7.960289,B,118221,30,7,2013,26,0,0,0

In [184]:
def convert_bool(df):
  df["IsHoliday"] =np.where(df["IsHoliday"]==True,1,0)

In [185]:
convert_bool(merged_df)
convert_bool(merged_test_df)

In [186]:
def markdown_feat(df):
  df["Total_MarkDown"] = df["MarkDown1"] +df["MarkDown2"]+df["MarkDown3"]+df["MarkDown4"]+df["MarkDown5"]
  df["Avg_MarkDown"] = df["Total_MarkDown"]/5
  df["HoliDay_MarkDown"] = df["IsHoliday"]*df["Avg_MarkDown"]
  mark_cols = ["MarkDown1","MarkDown2","MarkDown3","MarkDown4","MarkDown5"]
  for mark in mark_cols:
    df['pct_'+mark] = np.where(df["Total_MarkDown"]== 0, 0 ,( df[mark]/df['Total_MarkDown']))
  return df

In [187]:
markdown_feat(merged_df)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,BlackFriday,Christmas,Total_MarkDown,Avg_MarkDown,HoliDay_MarkDown,pct_MarkDown1,pct_MarkDown2,pct_MarkDown3,pct_MarkDown4,pct_MarkDown5
0,1,1,2010-02-05,24924.50,0,42.31,2.572,0.00,0.00,0.00,...,0,0,0.00,0.000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
1,1,1,2010-02-12,46039.49,1,38.51,2.548,0.00,0.00,0.00,...,0,0,0.00,0.000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,1,1,2010-02-19,41595.55,0,39.93,2.514,0.00,0.00,0.00,...,0,0,0.00,0.000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
3,1,1,2010-02-26,19403.54,0,46.63,2.561,0.00,0.00,0.00,...,0,0,0.00,0.000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
4,1,1,2010-03-05,21827.90,0,46.50,2.625,0.00,0.00,0.00,...,0,0,0.00,0.000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,0,64.88,3.997,4556.61,20.64,1.50,...,0,0,9468.01,1893.602,0.0,0.481264,0.002180,0.000158,0.169097,0.347301
421566,45,98,2012-10-05,628.10,0,64.89,3.985,5046.74,0.00,18.82,...,0,0,9659.00,1931.800,0.0,0.522491,0.000000,0.001948,0.233298,0.242262
421567,45,98,2012-10-12,1061.02,0,54.47,4.000,1956.28,0.00,7.89,...,0,0,6554.03,1310.806,0.0,0.298485,0.000000,0.001204,0.091443,0.608868
421568,45,98,2012-10-19,760.01,0,56.47,3.969,2004.02,0.00,3.18,...,0,0,3982.42,796.484,0.0,0.503217,0.000000,0.000799,0.109916,0.386069
421569,45,98,2012-10-26,1076.80,0,58.85,3.882,4018.91,58.08,100.00,...,0,0,5247.26,1049.452,0.0,0.765906,0.011069,0.019058,0.040391,0.163577

In [188]:
markdown_feat(merged_test_df)

,Store,Dept,Date,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,...,BlackFriday,Christmas,Total_MarkDown,Avg_MarkDown,HoliDay_MarkDown,pct_MarkDown1,pct_MarkDown2,pct_MarkDown3,pct_MarkDown4,pct_MarkDown5
0,1,1,2012-11-02,0,55.32,3.386,6766.44,5147.70,50.82,3639.90,...,0,0,18342.28,3668.456,0.000,0.368899,0.280647,0.002771,0.198443,0.149241
1,1,1,2012-11-09,0,61.24,3.314,11421.32,3370.89,40.28,4646.79,...,0,0,25633.44,5126.688,0.000,0.445563,0.131504,0.001571,0.181278,0.240083
2,1,1,2012-11-16,0,52.92,3.252,9696.28,292.10,103.78,1133.15,...,0,0,17838.00,3567.600,0.000,0.543574,0.016375,0.005818,0.063524,0.370708
3,1,1,2012-11-23,1,56.23,3.211,883.59,4.17,74910.32,209.91,...,1,0,76311.31,15262.262,15262.262,0.011579,0.000055,0.981641,0.002751,0.003975
4,1,1,2012-11-30,0,52.34,3.207,2460.03,0.00,3838.35,150.57,...,1,0,13415.29,2683.058,0.000,0.183375,0.000000,0.286118,0.011224,0.519284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,98,2013-06-28,0,76.05,3.639,4842.29,975.03,3.00,2449.97,...,0,0,11439.98,2287.996,0.000,0.423278,0.085230,0.000262,0.214159,0.277071
115060,45,98,2013-07-05,0,77.50,3.614,9090.48,2268.58,582.74,5797.47,...,0,0,19254.20,3850.840,0.000,0.472130,0.117823,0.030266,0.301102,0.078680
115061,45,98,2013-07-12,0,79.37,3.614,3789.94,1827.31,85.72,744.84,...,0,0,8598.17,1719.634,0.000,0.440784,0.212523,0.009970,0.086628,0.250095
115062,45,98,2013-07-19,0,82.84,3.737,2961.49,1047.07,204.19,363.00,...,0,0,5635.21,1127.042,0.000,0.525533,0.185809,0.036235,0.064416,0.188007
115063,45,98,2013-07-26,0,76.06,3.804,212.02,851.73,2.06,10.88,...,0,0,2941.26,588.252,0.000,0.072085,0.289580,0.000700,0.003699,0.633936

In [189]:
merged_df.describe().transpose()

,count,mean,min,25%,50%,75%,max,std
Store,418727.0,22.197219,1.0,11.0,22.0,33.0,45.0,12.790503
Dept,418727.0,44.243708,1.0,18.0,37.0,74.0,99.0,30.508543
Date,418727,2011-06-16 22:07:44.866129664,2010-02-05 00:00:00,2010-10-08 00:00:00,2011-06-17 00:00:00,2012-02-24 00:00:00,2012-10-26 00:00:00,NaN
Weekly_Sales,418727.0,16025.870561,0.0,2116.195,7657.15,20265.01,693099.36,22725.312252
IsHoliday,418727.0,0.069957,0.0,0.0,0.0,0.0,1.0,0.255075
Temperature,418727.0,60.052229,-2.06,46.66,62.06,74.25,100.14,18.455276
Fuel_Price,418727.0,3.359306,2.472,2.931,3.452,3.735,4.468,0.45839
MarkDown1,418727.0,2575.810834,0.0,0.0,0.0,2753.9,88646.76,6056.727745
MarkDown2,418727.0,882.05354,0.0,0.0,0.0,2.63,104519.54,5085.673098
MarkDown3,418727.0,470.401006,0.0,0.0,0.0,4.36,141630.61,5543.813078
MarkDown4,418727.0,1080.084901,0.0,0.0,0.0,415.36,67474.85,3901.557338
MarkDown5,418727.0,1654.370677,0.0,0.0,0.0,2146.94,108519.28,4207.203564
CPI,418727.0,171.202124,126.064,132.022667,182.350989,212.412888,227.232807,39.158832
Unemployment,418727.0,7.961559,3.879,6.891,7.866,8.567,14.313,1.864314
Size,418727.0,136684.8155,34875.0,93638.0,140167.0,202505.0,219622.0,61010.367641
WeekofYear,418727.0,25.823711,1.0,14.0,26.0,38.0,52.0,14.166038
Month,418727.0,6.449066,1.0,4.0,6.0,9.0,12.0,3.246222
Year,418727.0,2010.964714,2010.0,2010.0,2011.0,2012.0,2012.0,0.795955
Day,418727.0,15.670869,1.0,8.0,16.0,23.0,31.0,8.751625
SuperBowl,418727.0,0.042295,0.0,0.0,0.0,0.0,1.0,0.201261
BlackFriday,418727.0,0.02835,0.0,0.0,0.0,0.0,1.0,0.165972
Christmas,418727.0,0.042548,0.0,0.0,0.0,0.0,1.0,0.201836
Total_MarkDown,418727.0,6662.720957,0.0,0.0,0.0,7990.17,160510.61,14770.126931
Avg_MarkDown,418727.0,1332.544191,0.0,0.0,0.0,1598.034,32102.122,2954.025386
HoliDay_MarkDown,418727.0,220.712495,0.0,0.0,0.0,0.0,28644.662,1637.029582
pct_MarkDown1,418727.0,0.141445,0.0,0.0,0.0,0.285517,0.90986,0.224824
pct_MarkDown2,418727.0,0.03141,0.0,0.0,0.0,0.000281,0.918574,0.118028
pct_MarkDown3,418727.0,0.01009,0.0,0.0,0.0,0.000447,0.995043,0.079192
pct_MarkDown4,418727.0,0.043624,0.0,0.0,0.0,0.038575,0.623501,0.090798
pct_MarkDown5,418727.0,0.130202,0.0,0.0,0.0,0.199719,1.0,0.227108

In [190]:
merged_test_df.describe().transpose()

,count,mean,min,25%,50%,75%,max,std
Store,113720.0,22.265178,1.0,11.0,22.0,33.0,45.0,12.821747
Dept,113720.0,44.347151,1.0,18.0,37.0,74.0,99.0,30.658322
Date,113720,2013-03-15 03:29:37.840309504,2012-11-02 00:00:00,2013-01-04 00:00:00,2013-03-15 00:00:00,2013-05-24 00:00:00,2013-07-26 00:00:00,NaN
IsHoliday,113720.0,0.077409,0.0,0.0,0.0,0.0,1.0,0.267241
Temperature,113720.0,54.036878,-7.29,39.87,54.57,67.49,101.95,18.753682
Fuel_Price,113720.0,3.582257,2.872,3.431,3.607,3.766,4.125,0.239199
MarkDown1,113720.0,7708.431376,0.0,1966.26,4849.33,9439.14,103184.98,10734.961412
MarkDown2,113720.0,2784.143784,0.0,0.0,306.12,1568.71,71074.17,7380.114089
MarkDown3,113720.0,2125.002553,0.0,8.1,60.32,246.0,146394.44,12723.388201
MarkDown4,113720.0,2979.935247,0.0,70.37,606.15,2630.92,65344.64,7182.691965
MarkDown5,113720.0,3933.035271,40.98,1316.6,2393.29,4247.26,771448.1,19552.78988
CPI,113720.0,174.923359,131.236226,138.900429,171.201947,201.155809,228.976456,33.703792
Unemployment,113720.0,7.239678,3.684,6.228,7.960289,7.960289,10.199,1.390048
Size,113720.0,136623.422775,34875.0,93638.0,140167.0,202505.0,219622.0,61061.478206
WeekofYear,113720.0,23.078834,1.0,10.0,20.0,30.0,52.0,15.713112
Month,113720.0,5.736502,1.0,3.0,5.0,7.0,12.0,3.581627
Year,113720.0,2012.768115,2012.0,2013.0,2013.0,2013.0,2013.0,0.422038
Day,113720.0,15.582061,1.0,8.0,15.0,23.0,31.0,8.844984
SuperBowl,113720.0,0.051433,0.0,0.0,0.0,0.0,1.0,0.220881
BlackFriday,113720.0,0.05095,0.0,0.0,0.0,0.0,1.0,0.219896
Christmas,113720.0,0.078561,0.0,0.0,0.0,0.0,1.0,0.269054
Total_MarkDown,113720.0,19530.548231,133.58,5396.92,12424.92,23702.2175,783529.45,29614.799822
Avg_MarkDown,113720.0,3906.109646,26.716,1079.384,2484.984,4740.4435,156705.89,5922.959964
HoliDay_MarkDown,113720.0,1032.280493,0.0,0.0,0.0,0.0,35738.628,4275.916792
pct_MarkDown1,113720.0,0.420573,0.0,0.289823,0.427576,0.569651,0.938585,0.200028
pct_MarkDown2,113720.0,0.120973,0.0,0.0,0.025054,0.144677,0.957554,0.20019
pct_MarkDown3,113720.0,0.042377,0.0,0.000695,0.005273,0.019008,0.996228,0.150572
pct_MarkDown4,113720.0,0.107403,0.0,0.007033,0.059893,0.168641,0.634722,0.125955
pct_MarkDown5,113720.0,0.308676,0.001114,0.132091,0.253294,0.426834,0.999775,0.22653